<title>Liste des entreprise</title>
<h1>Liste des entreprise</h1>

<table>


    <tr>
        <th>Nom du entreprise</th>
        <th></th>
        <th>URL</th>
    </tr>

    {% for entreprise in entrepriseListe %}

        {% if entreprise.actif == true %}
        <tr>
            <td>{{ entreprise.libelle}}</td>
            <td></td>
            <td><a href="{{ path('entreprise_edit', {'id' : entreprise.id}) }}">Modification du entreprise</a></td>
            <td><a href="{{path('entreprise_suppression',{'id' : entreprise.id}) }}"> Supprimer l'entreprise</a></td>

        </tr>
        {%endif%}
    {% endfor %}

</table>

<a href="{{ path('entreprise') }}">Retour</a>
