{% extends "base.html.twig" %}

{%block title %}
    {{parent()}}Accueil des systèmes
{%endblock%}
{%block body %}
<center><b><h1>Accueil des systèmes</h1></b></center>

<a href="{{ path('system_new') }}">Ajout d'un nouveau système</a><br/>
<a href="{{ path('system_consultation') }}">Liste des systèmes</a>
</br>
<a href="{{path('system_active')}}">Réactiver un système</a>
{%endblock%}
