Liste des utilisateurs 

<a href="{{ path('user_new') }}">Créer</a>
</br>
Consultation des utilisateurs 
<a href="{{path('user_consultation')}}">Consulter</a>
</br>
Suppression d'un ou de plusieur utilisateur(s) 
<a href="{{path('user_suppression')}}">Supprimer</a>