{% extends "base.html.twig" %}
{%block title %}
    {{parent()}} - Ajout d'un utilisateur
{%endblock%}
{%block body%}
<style>
label
{
display: block;
}
</style>
<h2><b>Créer un nouvel utilisateur :</b></h2>
</br>
{{ form_start(form)}}
{{ form_widget(form)}}
{{ form_end(form)}}
{%endblock%}
